.body{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    flex-direction: row;
    background-color: #adf4d1;
    margin: 0 0 20px 0;
    flex-wrap: wrap;
}

.header-img{
    height: 50px;
    width: 50px;
    margin: 5px 10px 5px 100px;
    padding: 10px 5px;
}

.heading{
    color: #00cc66;
    font-size: 25px;
    font-weight: bold;
}

.nav_bar{
    display: flex;
    margin: 0 0 20px 380px;
    background-color: #1bf387;
    position: relative;
    top: 50px;
    border-radius: 70px;
    height: fit-content;
    flex-wrap: wrap;
}

.nav_bar-text{
    padding: 15px;
    text-decoration: solid;
    font-size: 21px;
    cursor: pointer;
}

.container{
    display: flex;
    margin: 50px 40px 0 0;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    height: 200px;
    width: 150px;
    padding: 30px;
}

.card:hover{
    box-shadow: 5px 5px rgba(37, 37, 37, 0.204);
    cursor: pointer;
}

.img{
    height: 110px;
    width: 150px;
}

.text{
    padding: 0 0 0 50px;
    font-size: 18px;
}

.offer-text{
    color: rgb(234, 98, 98);
    padding: 0 0 0 35px;
}

.heading1{
    font-size: 25px;
    margin: 50px 0 10px 25px;
}

.container1{
    display: flex;
    flex-wrap: wrap;
}

.card1{
    height: 180px;
    width: 180px;
    padding: 15px;
    margin: 10px 0 0 0;
}

.img1{
    height: 150px;
    width: 150px;
    cursor: pointer;
}

.container2{
    background-color: rgb(241, 241, 249);
    padding: 20px;
    width: 550px;
    margin: 0 0 20px 450px;
}

.rx-img{
    height: 100px;
    width: 100px;
}

.prescription-text{
    font-size: 20px;
    font-weight: bold;
    margin: -100px 0 10px 150px;
}

.text-info{
    margin: 0 0 0 150px;
}

.btn{
    background-color: #0f9c56e6;
    margin: 20px 0 0 150px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    color: white;
    cursor: pointer;
}

.container3{
    padding: 20px;
}

.heading2{
    font-size: 25px;
}

.why-to-choose-us-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.why-to-choose-us-card{
    padding: 30px;
    margin: -30px 0 0 0;
}

.why-to-choose-us-img{
    height: 100px;
    width: 100px;
}

.why-to-choose-us-text{
    margin: -85px 0 10px 110px;
    font-size: 24px;
    font-weight: bold;
}

.why-to-choose-us-text-info{
    margin: 0 0 0 110px;
    font-size: 18px;
}

footer{
    padding: 30px 40px 5px 100px;
    background-color: rgb(241, 241, 249);
    margin: 30px 0 0 0;
}

.footer-heading{
    font-size: 25px;
    font-weight: bold;
}

.footer-info{
    font-size: 16px;
}

.text-center{
    text-align: center;
}

.footer-text{
    margin: 50px;
    font-size: large;
}


/* Mobile Device */
@media  screen and (max-width:500px) {
    .header{
        flex-wrap: wrap;
        width: 1040px;
    }

    .header-img{
        height: 90px;
        width: 90px;
    }
    
    .heading{
        font-size: 55px;
    }
    
    .nav_bar{
        top: 80px;
        margin: 0 20px 20px 200px;
        
    }
    
    .nav_bar-text{
        padding: 20px;
        font-size: 30px;
    }
    
    .container{
        flex-wrap: wrap;
        margin: 40px 0 40px 100px;
    }
    
    .card{
        height: 300px;
        width: 250px;
    }
    
    .img{
        height: 210px;
        width: 250px;
    }
    
    .text{
        padding: 0 0 0 50px;
        font-size: 40px;
    }
    
    .offer-text{
        font-size: 30px;
    }
    
    .heading1{
        font-size: 46px;
        margin: 0 0 20px 50px;
    }
    
    .container1{
        flex-wrap: wrap;
        margin: 0 0 50px 200px;
        justify-content: center;
    }
    
    .card1{
        height: 350px;
        width: 350px;
        padding: 5px;
        margin: 15px 0 0 0;
    }
    
    .img1{
        height: 300px;
        width: 300px;
        cursor: pointer;
    }
    
    .container2{
        padding: 20px;
        width: 700px;
        margin: 0 0 20px 180px;
    }
    
    .rx-img{
        height: 200px;
        width: 200px;
    }
    
    .prescription-text{
        font-size: 40px;
        font-weight: bold;
        margin: -200px 0 10px 250px;
    }
    
    .text-info{
        margin: 0 0 0 250px;
        font-size: 30px;
    }
    
    .btn{
        margin: 30px 0 0 250px;
        padding: 20px 30px;
        border-radius: 35px;
        font-size: 30px;
    }
    
    .container3{
        padding: 20px;
    }
    
    .heading2{
        font-size: 46px;
        margin: 0 0 30px 50px;
    }
    
    .why-to-choose-us-container{
        flex-wrap: wrap;
        margin: 0 0 0 100px;
    }
    
    .why-to-choose-us-card{
        padding: 40px;
        margin: -80px 0 0 0;
    }
    
    .why-to-choose-us-img{
        height: 220px;
        width: 250px;
    }
    
    .why-to-choose-us-text{
        margin: -170px 0 20px 270px;
        font-size: 40px;
    }
    
    .why-to-choose-us-text-info{
        margin: 0 0 0 270px;
        font-size: 30px;
    }
    
    footer{
        padding: 40px 50px 10px 90px;
        width: 900px;
    }
    
    .footer-heading{
        font-size: 35px;
    }
    
    .footer-info{
        font-size: 30px;
    }
    
    .footer-text{
        margin: 50px;
        font-size: 29px;
    }
}


/* Tablet Devices */
@media screen and (max-width:768px) {
    .header{
        margin: 0 0 20px 0;
        flex-wrap: wrap;
        width: 1040px;
    }
    
    .header-img{
        height: 70px;
        width: 70px;
    }
    
    .heading{
        font-size: 40px;
    }
    
    .nav_bar{
        margin: 0 0 20px 320px;
        top: 50px;
        border-radius: 70px;
        flex-wrap: wrap;
    }
    
    .nav_bar-text{
        padding: 15px;
        font-size: 27px;
    }
    
    .container{
        margin: 50px 40px 0 0;
        flex-wrap: wrap;
    }
    
    .card{
        height: 300px;
        width: 250px;
        padding: 30px;
    }
    
    .img{
        height: 210px;
        width: 250px;
        padding: 0 0 0 10px;
    }
    
    .text{
        padding: 0 0 0 70px;
        font-size: 33px;
    }
    
    .offer-text{
        padding: 0 0 0 65px;
        font-size: 25px;
    }
    
    .heading1{
        font-size: 35px;
        margin: 50px 0 10px 25px;
    }
    
    .container1{
        flex-wrap: wrap;
    }
    
    .card1{
        height: 280px;
        width: 280px;
        padding: 10px;
        margin: 10px 0 0 0;
    }
    
    .img1{
        height: 250px;
        width: 250px;
    }
    
    .container2{
        padding: 20px;
        width: 550px;
        margin: 0 0 20px 200px;
    }
    
    .rx-img{
        height: 100px;
        width: 100px;
    }
    
    .prescription-text{
        font-size: 30px;
        font-weight: bold;
        margin: -100px 0 10px 150px;
    }
    
    .text-info{
        margin: 0 0 0 150px;
        font-size: 20px;
    }
    
    .btn{
        margin: 20px 0 0 150px;
        padding: 20px 30px;
        border-radius: 40px;
    }
    
    .container3{
        padding: 30px;
    }
    
    .heading2{
        font-size: 35px;
    }
    
    .why-to-choose-us-container{
        flex-wrap: wrap;
    }
    
    .why-to-choose-us-card{
        padding: 40px;
        margin: -40px 0 0 0;
    }
    
    .why-to-choose-us-img{
        height: 150px;
        width: 150px;
    }
    
    .why-to-choose-us-text{
        margin: -100px 0 10px 190px;
        font-size: 26px;
    }
    
    .why-to-choose-us-text-info{
        margin: 0 0 0 190px;
        font-size: 20px;
    }
    
    footer{
        padding: 30px 40px 5px 100px;
        margin: 30px 0 0 0;
        width: 900px;
    }
    
    .footer-heading{
        font-size: 35px;
        font-weight: bold;
    }
    
    .footer-info{
        font-size: 26px;
    }
    
    .footer-text{
        margin: 50px;
        font-size: 21px;
    }
}