.body{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    flex-direction: row;
    background-color: #adf4d1;
    margin: 0 0 20px 0;
    flex-wrap: wrap;
}

.header-img{
    height: 50px;
    width: 50px;
    margin: 5px 10px 5px 100px;
    padding: 10px 5px;
}

.heading{
    color: #00cc66;
    font-size: 25px;
    font-weight: bold;
}

.nav_bar{
    display: flex;
    margin: 0 0 20px 380px;
    background-color: #1bf387;
    position: relative;
    top: 50px;
    border-radius: 70px;
    height: fit-content;
    flex-wrap: wrap;
}

.nav_bar-text{
    padding: 15px;
    text-decoration: solid;
    font-size: 21px;
    cursor: pointer;
}

.container{
    display: flex;
    margin: 50px 40px 0 0;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    height: 200px;
    width: 150px;
    padding: 30px;
}

.card:hover{
    box-shadow: 5px 5px rgba(37, 37, 37, 0.204);
    cursor: pointer;
}

.img{
    height: 110px;
    width: 150px;
}

.text{
    padding: 0 0 0 50px;
    font-size: 18px;
}

.offer-text{
    color: rgb(234, 98, 98);
    padding: 0 0 0 35px;
}

.heading1{
    font-size: 25px;
    margin: 50px 0 10px 25px;
}

.container1{
    display: flex;
    flex-wrap: wrap;
}

.card1{
    height: 180px;
    width: 180px;
    padding: 15px;
    margin: 10px 0 0 0;
}

.img1{
    height: 150px;
    width: 150px;
    cursor: pointer;
}